parameters:

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

tracy:
    bar:
        - App\PhpInfoPanel
    strictMode: TRUE

session:
	expiration: 14 days

latte:
	macros:
		- App\Utils\Assets\Macros

extensions:
	assets: App\Utils\Assets\Extension

services:
	router: App\Router\RouterFactory::createRouter

assets:
	manifest: manifest.json
	publicPath: /build/prod